.bundle
db/*.sqlite3
log/*.log
tmp/
config/site_config.yml
config/database.yml
.DS_Store
*.swp
*.swo
*.txt
notes
doc
development.sql
development_structure.sql
schema.rb
*~
mockups
rerun.txt
nbproject
Gemfile.lock
