.bundle
db/*.sqlite3
log/*
tmp/
config/site_config.yml
config/database.yml
config/email.yml
.DS_Store
*.swp
*.swo
*.txt
notes
doc
development.sql
development_structure.sql
db/schema.rb
*~
mockups
rerun.txt
nbproject
Gemfile.lock
.ruby-version
