body {
  background: #333;
}

#container {
  width: 770px;
  border: 1px solid #dde;
  margin: 10px auto;
  padding: 10px;
  background: #fff;
}

#navigation {
  margin: 0;
  padding: 0;
  display: inline;
}

#navigation li {
  display: inline;
}

#navigation a {
  padding: 10px 15px;
  background: #ccc;
  border: 1px solid #33d;
}

#navigation a:hover {
  padding: 10px 15px;
  background: #ddd;
  color: #000;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #ddd;
  padding: 8px 3px 5px;
  border-bottom: 1px solid #6C6CDD;
}

td {
  background: #eee;
  padding: 2px;
  border-bottom: 1px solid #B4B4DD;
}

tr:nth-child(even) td {
  background: #E5E7EE;
}

h1 {
  margin-top: 30px;
}

.notice {
  border: 1px dashed green;
  background: #FFFEF1;
  padding: 4px 8px;
  border-radius: 10px;
}

#side-by-side-container {
  width: 760px;
  display: block;
  border: 1px dotted 333;
  background: #eee;
  padding: 5px;
  float:left;
}

#left-container {
  width: 365px;
  display: block;
  border: 1px solid 333;
  background: #fff;
  padding: 5px;
  float:left;
}

#right-container {
  width: 365px;
  display: block;
  border: 1px solid 333;
  background: #fff;
  padding: 5px;
  float:right;
}

#right-container:hover,
#left-container:hover {
  background: #eef
}

#side-by-side-container select,
#side-by-side-container input[type=text],
#side-by-side-container textarea {
  width: 100%;
}

hr {
  clear: both;
  display: hidden;
}
