development:
  adapter: mysql2
  database: dde_master
  username: root
  password: your.password
  host: localhost
  pool: 500

production:
  adapter: mysql2
  database: dde_master
  username: root
  password: your.password
  host: localhost
  pool: 500

integration:
  adapter: mysql2
  database: dde_master
  username: root
  password: your.password
  host: localhost
  pool: 500


