<!DOCTYPE html>
<html>
<head>
  <title>Baobab DDE@<%= Site.current_name %></title>
  <%= stylesheet_link_tag 'web-app-theme/base', 'web-app-theme/themes/drastic-dark/style', 'web-app-theme/override', 'dde', :cache => true %>
  <%= javascript_include_tag :defaults, :cache => true %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Baobab DDE<sub style="font-size:0.8em; color: gray;"><%= app_version %></sub>@<%= Site.current_name %></a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <% if can? :acces, :login %>
            <li><a href="/login/logout" class="logout">Logout</a></li>
          <% else %>
            <li>
              <%= link_to 'Logout', logout_login_path %>
            </li>
          <% end %>
        </ul>
      </div>
      <div id="main-navigation">
        <% if can? :access, :anything %>
          <ul class="wat-cf">
            <li class="<%= params[:controller] == 'people' ? 'active' : '' %>">
              <%= link_to 'Patient Management', people_path %>
            </li>
            <li class="<%= params[:controller] == 'users' ? 'active' : '' %>">
              <%= link_to 'User Management', users_path %>
            </li>
            <li class="<%= params[:controller] == 'national_patient_identifiers' ? 'active' : '' %>">
              <%= link_to 'NPID Management', national_patient_identifiers_path %>
            </li>
            <li class="<%= params[:controller] == 'npid_auto_generations' ? 'active' : '' %>">
              <%= link_to Site.proxy?? 'NPID Auto Request' : 'NPID Auto Generation', npid_auto_generations_path %>
            </li>
            <li class="<%= params[:controller] == 'sites' ? 'active' : '' %>">
              <%= link_to 'Site Management', sites_path %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>    

    <div id="wrapper" class="wat-cf">
      <%= flash_messages %>
      <div id="main">
        <div class="block">
          <div class="content">
            <div class="inner">
              <%= yield %>
            </div>
          </div>
        </div>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> <a href="http://www.baobabhealth.org" target="_blank">Baobab Health</a>.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
</body>
</html>
