<!DOCTYPE html>
<html>
<head>
  <title>Baobab DDE@<%= Site.current_name %></title>
  <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/drastic-dark/style", "web-app-theme/override", :cache => true %>
  <%= javascript_include_tag :defaults, :cache => true %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Baobab DDE<sub style="font-size:0.8em; color: gray;"><%= app_version %></sub>@<%= Site.current_name %></a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <% if can? :acces, :login %>
            <li><a href="/login/logout" class="logout">Logout</a></li>
          <% end %>
        </ul>
      </div>
      <div id="main-navigation"></div>
    </div>    

    <div id="wrapper" class="wat-cf">
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> <a href="http//baobabhealth.org">Baobab Health</a>.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
</body>
</html>
